.p-container {
  /* height: 100vh; */
  overflow: auto;
  background: linear-gradient(to top, lightblue, white);
}
.navbar > img {
  width: 150px;
  height: 100px;
  object-fit: cover;
}

.flex-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}
.nav-link {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}
/* Scroll CSS */
.cover {
  padding: 120px 0;
  background-image: url(../../src/utility/banner_final.png);
  min-height: 600px;
  background-attachment: fixed;
  background-position: cover;
  background-repeat: no-repeat;
  background-size: cover;
}
/* .cover > img {
  width: 75%;
  display: block;
  margin-left: auto;
  margin-right: auto;
} */
